<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoicG9wb3ZlcnMiLCJsb2NhdGlvbiI6eyJyZW1vdGUiOlsiaHR0cHM6XC9c
		L2dpdGh1Yi5jb21cL2FoZXplXC9Qb3BvdmVycyJdfSwicHJvZHVjdEZpbHRl
		ciI6bnVsbCwicmVxdWlyZW1lbnQiOnsicmFuZ2UiOlt7Imxvd2VyQm91bmQi
		OiIxLjMuMiIsInVwcGVyQm91bmQiOiIyLjAuMCJ9XX19XX1dLCJkaXNwbGF5
		TmFtZSI6IkxvZ2ljQm9hcmQiLCJwYWNrYWdlS2luZCI6eyJyb290Ijp7fX0s
		InBsYXRmb3JtcyI6W3sib3B0aW9ucyI6W10sInBsYXRmb3JtTmFtZSI6Imlv
		cyIsInZlcnNpb24iOiIxNi4wIn1dLCJwcm9kdWN0cyI6W3sibmFtZSI6Ikxv
		Z2ljQm9hcmQiLCJzZXR0aW5ncyI6W3sidGVhbUlkZW50aWZpZXIiOlsiNlNL
		NFk0RFRNRSJdfSx7ImRpc3BsYXlWZXJzaW9uIjpbIjEuMCJdfSx7ImJ1bmRs
		ZVZlcnNpb24iOlsiMSJdfSx7ImlPU0FwcEluZm8iOlt7ImFjY2VudENvbG9y
		Ijp7InByZXNldENvbG9yIjp7InByZXNldENvbG9yIjp7InJhd1ZhbHVlIjoi
		YnJvd24ifX19LCJhcHBDYXRlZ29yeSI6eyJyYXdWYWx1ZSI6InB1YmxpYy5h
		cHAtY2F0ZWdvcnkuZWR1Y2F0aW9uIn0sImFwcEljb24iOnsiYXNzZXQiOnsi
		bmFtZSI6IkFwcEljb24ifX0sImNhcGFiaWxpdGllcyI6W3siZmlsZUFjY2Vz
		c0xvY2F0aW9uIjoiZG93bmxvYWRzRm9sZGVyIiwiZmlsZUFjY2Vzc01vZGUi
		OiJyZWFkV3JpdGUiLCJwdXJwb3NlIjoiZmlsZUFjY2VzcyJ9LHsiZmlsZUFj
		Y2Vzc0xvY2F0aW9uIjoidXNlclNlbGVjdGVkRmlsZXMiLCJmaWxlQWNjZXNz
		TW9kZSI6InJlYWRXcml0ZSIsInB1cnBvc2UiOiJmaWxlQWNjZXNzIn1dLCJz
		dXBwb3J0ZWREZXZpY2VGYW1pbGllcyI6WyJwYWQiLCJwaG9uZSJdLCJzdXBw
		b3J0ZWRJbnRlcmZhY2VPcmllbnRhdGlvbnMiOlt7InBvcnRyYWl0Ijp7fX0s
		eyJsYW5kc2NhcGVSaWdodCI6e319LHsibGFuZHNjYXBlTGVmdCI6e319LHsi
		cG9ydHJhaXRVcHNpZGVEb3duIjp7ImNvbmRpdGlvbiI6eyJkZXZpY2VGYW1p
		bGllcyI6WyJwYWQiXX19fV19XX1dLCJ0YXJnZXRzIjpbIkFwcE1vZHVsZSJd
		LCJ0eXBlIjp7ImV4ZWN1dGFibGUiOm51bGx9fV0sInRhcmdldE1hcCI6eyJB
		cHBNb2R1bGUiOnsiZGVwZW5kZW5jaWVzIjpbeyJwcm9kdWN0IjpbIlBvcG92
		ZXJzIiwiUG9wb3ZlcnMiLG51bGwsbnVsbF19XSwiZXhjbHVkZSI6W10sIm5h
		bWUiOiJBcHBNb2R1bGUiLCJwYXRoIjoiLiIsInJlc291cmNlcyI6W3sicGF0
		aCI6IlJlc291cmNlcyIsInJ1bGUiOnsicHJvY2VzcyI6e319fV0sInNldHRp
		bmdzIjpbXSwidHlwZSI6ImV4ZWN1dGFibGUifX0sInRhcmdldHMiOlt7ImRl
		cGVuZGVuY2llcyI6W3sicHJvZHVjdCI6WyJQb3BvdmVycyIsIlBvcG92ZXJz
		IixudWxsLG51bGxdfV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoiQXBwTW9kdWxl
		IiwicGF0aCI6Ii4iLCJyZXNvdXJjZXMiOlt7InBhdGgiOiJSZXNvdXJjZXMi
		LCJydWxlIjp7InByb2Nlc3MiOnt9fX1dLCJzZXR0aW5ncyI6W10sInR5cGUi
		OiJleGVjdXRhYmxlIn1dLCJ0b29sc1ZlcnNpb24iOnsiX3ZlcnNpb24iOiI1
		LjcuMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		jbyhkwndT6RWd4hKxKRJlgJSFyHaYdEebuUn2YuRIXI=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.8.0</string>
	</dict>
</dict>
</plist>
