<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOltdLCJkaXNwbGF5TmFtZSI6IkxvZ2ljQm9hcmQi
		LCJwYWNrYWdlS2luZCI6eyJyb290Ijp7fX0sInBsYXRmb3JtcyI6W3sib3B0
		aW9ucyI6W10sInBsYXRmb3JtTmFtZSI6ImlvcyIsInZlcnNpb24iOiIxNi4w
		In1dLCJwcm9kdWN0cyI6W3sibmFtZSI6IkxvZ2ljQm9hcmQiLCJzZXR0aW5n
		cyI6W3sidGVhbUlkZW50aWZpZXIiOlsiNlNLNFk0RFRNRSJdfSx7ImRpc3Bs
		YXlWZXJzaW9uIjpbIjEuMCJdfSx7ImJ1bmRsZVZlcnNpb24iOlsiMSJdfSx7
		ImlPU0FwcEluZm8iOlt7ImFjY2VudENvbG9yIjp7InByZXNldENvbG9yIjp7
		InByZXNldENvbG9yIjp7InJhd1ZhbHVlIjoiYnJvd24ifX19LCJhcHBDYXRl
		Z29yeSI6eyJyYXdWYWx1ZSI6InB1YmxpYy5hcHAtY2F0ZWdvcnkuZWR1Y2F0
		aW9uIn0sImFwcEljb24iOnsiYXNzZXQiOnsibmFtZSI6IkFwcEljb24ifX0s
		ImNhcGFiaWxpdGllcyI6W3siZmlsZUFjY2Vzc0xvY2F0aW9uIjoiZG93bmxv
		YWRzRm9sZGVyIiwiZmlsZUFjY2Vzc01vZGUiOiJyZWFkV3JpdGUiLCJwdXJw
		b3NlIjoiZmlsZUFjY2VzcyJ9LHsiZmlsZUFjY2Vzc0xvY2F0aW9uIjoidXNl
		clNlbGVjdGVkRmlsZXMiLCJmaWxlQWNjZXNzTW9kZSI6InJlYWRXcml0ZSIs
		InB1cnBvc2UiOiJmaWxlQWNjZXNzIn1dLCJzdXBwb3J0ZWREZXZpY2VGYW1p
		bGllcyI6WyJwYWQiLCJwaG9uZSJdLCJzdXBwb3J0ZWRJbnRlcmZhY2VPcmll
		bnRhdGlvbnMiOlt7InBvcnRyYWl0Ijp7fX0seyJsYW5kc2NhcGVSaWdodCI6
		e319LHsibGFuZHNjYXBlTGVmdCI6e319LHsicG9ydHJhaXRVcHNpZGVEb3du
		Ijp7ImNvbmRpdGlvbiI6eyJkZXZpY2VGYW1pbGllcyI6WyJwYWQiXX19fV19
		XX1dLCJ0YXJnZXRzIjpbIkFwcE1vZHVsZSJdLCJ0eXBlIjp7ImV4ZWN1dGFi
		bGUiOm51bGx9fV0sInRhcmdldE1hcCI6eyJBcHBNb2R1bGUiOnsiZGVwZW5k
		ZW5jaWVzIjpbXSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHBNb2R1bGUiLCJw
		YXRoIjoiLiIsInJlc291cmNlcyI6W3sicGF0aCI6IlJlc291cmNlcyIsInJ1
		bGUiOnsicHJvY2VzcyI6e319fV0sInNldHRpbmdzIjpbXSwidHlwZSI6ImV4
		ZWN1dGFibGUifX0sInRhcmdldHMiOlt7ImRlcGVuZGVuY2llcyI6W10sImV4
		Y2x1ZGUiOltdLCJuYW1lIjoiQXBwTW9kdWxlIiwicGF0aCI6Ii4iLCJyZXNv
		dXJjZXMiOlt7InBhdGgiOiJSZXNvdXJjZXMiLCJydWxlIjp7InByb2Nlc3Mi
		Ont9fX1dLCJzZXR0aW5ncyI6W10sInR5cGUiOiJleGVjdXRhYmxlIn1dLCJ0
		b29sc1ZlcnNpb24iOnsiX3ZlcnNpb24iOiI1LjcuMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		/ReNGYVy323HX0U5eDIsLgO4wFWzWnZ4e+jPKuSCEws=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.8.0</string>
	</dict>
</dict>
</plist>
