<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DocumentThumbnailConfiguration</key>
	<dict>
		<key>accentColorHash</key>
		<data>ukeIsiaqjcLm3HQki7n2GM+oyVngwmwUe+SPaDmgsIg=</data>
		<key>appIconHash</key>
		<data>aAneklUa6ah6uQ25MydaKTnGTrM2wgW9IrnWWr7/Wys=</data>
		<key>thumbnailIsPrerendered</key>
		<true/>
	</dict>
</dict>
</plist>
